body{
    /* background COR DE FUNDO */
    background: #cccccc;  
}
p {
    text-align: center;
     }

     /* Todos os strongs que estão dentro de em */
     em strong{

        /* color COR DE ELEMENTO, DE UM TEXO */
        color: red;
        
     }
